@model AdventurousContacts.Models.Contact

@if (@Model != null)
{
    <div>
        <p>@String.Format("The contact {0} {1} was successfully added.", @Model.FirstName, @Model.LastName)</p>
    </div>

}