
@{
    ViewBag.Title = "The contact could not be found.";
}

<h2>"The contact could not be found.</h2>

<p>The requested contact does not exist.</p>
<p>@Html.ActionLink("Back to contact list.", "Index")</p>
